[submodule "vim/pack/misc/start/copilot"]
	path = vim/pack/misc/start/copilot
	url = https://github.com/github/copilot.vim.git
[submodule "vim/pack/misc/start/nerdtree"]
	path = vim/pack/misc/start/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule "vim/pack/misc/start/ultisnips"]
	path = vim/pack/misc/start/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "vim/pack/misc/start/repeat"]
	path = vim/pack/misc/start/repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "vim/pack/misc/start/surround"]
	path = vim/pack/misc/start/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/pack/misc/start/goyo"]
	path = vim/pack/misc/start/goyo
	url = https://github.com/junegunn/goyo.vim.git
[submodule "vim/pack/misc/start/wakatime"]
	path = vim/pack/misc/start/wakatime
	url = https://github.com/wakatime/vim-wakatime.git
[submodule "vim/pack/misc/start/undotree"]
	path = vim/pack/misc/start/undotree
	url = https://github.com/mbbill/undotree.git
[submodule "vim/pack/misc/start/rainbow_parenthesis"]
	path = vim/pack/misc/start/rainbow_parenthesis
	url = https://github.com/kien/rainbow_parentheses.vim.git
[submodule "vim/pack/misc/start/ctrlp"]
	path = vim/pack/misc/start/ctrlp
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "vim/pack/misc/start/autogit"]
	path = vim/pack/misc/start/autogit
	url = https://github.com/jakethekoenig/autogit.vim.git
[submodule "vim/pack/misc/start/outline"]
	path = vim/pack/misc/start/outline
	url = https://github.com/jakethekoenig/VimOutline.git
[submodule "vim/pack/misc/start/nerdcommenter"]
	path = vim/pack/misc/start/nerdcommenter
	url = https://github.com/preservim/nerdcommenter.git
[submodule "vim/pack/misc/start/ChatVim"]
	path = vim/pack/misc/start/ChatVim
	url = https://github.com/jakethekoenig/ChatVim.git
[submodule "vim/pack/misc/start/whimper"]
	path = vim/pack/misc/start/whimper
	url = https://github.com/jakethekoenig/whimper.git
