snippet tag "general purpose html tag"
<${1:p}>$2</${1/(\w+).*/$1/}>
endsnippet

snippet tagm "multi line general purpose html tag"
<${1:p}>
$2
</${1/(\w+).*/$1/}>
endsnippet

snippet for "jinja for block"
{% for $1 %}
$2
{% endfor %}
endsnippet
